ALLOWED_HOSTS = [ 'localhost' ]
DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.postgresql',
        'NAME': 'sangiapp',
        'USER': 'sangiapp',
        'PASSWORD': 'josemaniana',
        'HOST': 'localhost',
        'PORT': '',
    }
}